

.clearfix {
	clear: both;
}

/*******************************************
**					Buttons
*******************************************/

.btn.btn-primary {

	a {
		color: white;
		
		&:hover {
			text-decoration: none;
		}
	}
}

.btn.rating {
	width: 42px;
}






.modal-backdrop {
	height: 100%;
	background-color: rgb(0,0,0);
}

.modal-backdrop.in {
	opacity: .9;
}

#movieModal {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.modal-header {

	h2 {
		color: black;
		-webkit-text-fill-color: white; /* Will override color (regardless of order) */
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: black;
	}
}

.in {
	transition: 200ms;
}

/*******************************************
**					Alerts
*******************************************/
.alert {
	position: fixed;
	top: 10px;
	right: 5px;
	z-index: 9;
	width: 50%;
	transition: all 200ms ease-in-out;
}


/*******************************************
**					Index
*******************************************/
html, body {
	// height: 100vh;
	// overflow: hidden;
}


/*******************************************
**					Movie Lists
*******************************************/


header {
	height: 15vh;
}

#lists {
	height: 80vh;

	.list {
		height: 80vh;
		overflow-y: scroll;
	}
}

/*******************************************
**					Movie Search
*******************************************/

table.table-search {
	overflow: scroll;

	.search-poster {

		img {
			max-height: 100px;
		}
	}
}