

.clearfix {
	clear: both;
}

/*******************************************
**					Buttons
*******************************************/

.btn.btn-primary {

	a {
		color: white;
		
		&:hover {
			text-decoration: none;
		}
	}
}

.btn.rating {
	width: 42px;
}
