/*******************************************
**					Watchlist
*******************************************/

#lists {

	table {

		tbody {

			.genre {
				font-size: 10px;
			}

			.info-btn {

				button {
					padding: 6px 6px;
					font-size: 12px;
				}
			}
		}
	}
}

@media (min-width: 996px) {
	
	#lists {
		height: 80vh;

		.list {
			height: 80vh;
			overflow-y: scroll;
		}

			table {

				tbody {

					.info-btn {

						button {
							padding: 6px 12px;
							font-size: 14px;
						}
					}
				}
			}
	}

}