
<div>
	<div class="modal-header">
		<h3 class="modal-title">Filmtitel</h3>
	</div><!-- .modal-header -->
	<div class="modal-body">
		<h2 class="text-center">{{vm.movieNfo}}</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, ad.</p>
	</div><!-- .modal-body -->
	<div class="modal-footer">
		<button class="btn btn-success" ng-click="vm.ok()">Ok</button>
		<button class="btn btn-danger" ng-click="vm.cancel()">Avbryt</button>
	</div><!-- .modal-footer -->
</div><!-- #movieModal -->
