
<div id="movieModal">
	<div class="modal-header">
		<h3 class="modal-title">{{vm.movieNfo.name}}</h3>
	</div><!-- .modal-header -->
	<div class="modal-body">
		<img src="{{vm.movieNfo.imdb_poster}}" alt="">
		<h2 class="">{{vm.movieNfo.name}}</h2>
		<p>{{vm.movieInfo.genre}}</p>
		<p>{{vm.movieInfo.year}}</p>
		<p>{{vm.movieInfo.lenght}}</p>
		<p>{{vm.movieInfo.imdb_rating}}</p>
		<p>{{vm.movieNfo.plot}}</p>
	</div><!-- .modal-body -->
	<div class="modal-footer">
		<button class="btn btn-danger" ng-click="vm.cancel()">Avbryt</button>
		<button class="btn btn-success" ng-click="vm.ok()">Okej</button>
	</div><!-- .modal-footer -->
</div><!-- #movieModal -->