<!-- home.html -->

<div class="container-fluid">
	<header>
		<h1 class="text-center">Movie Base</h1>
	</header>
	<div class="row">
		<div id="list-unseen" class="col-xs-12 col-md-6 list">
			<h2 class="text-center">Osedda</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Namn</th>
						<th>Genre</th>
						<th>imdb Betyg</th>
						<th>År</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="movie in vm.unseen track by $index">
						<td>{{movie.name}}</td>
						<td>{{movie.genre}}</td>
						<td>{{movie.imdb_rating}}</td>
						<td>{{movie.year}}</td>
						<td><button class="btn btn-primary" ng-click="vm.openModal(movie.imdb_id)">Info</button></td>
					</tr>
				</tbody>
			</table>
		</div><!-- #list-unseen -->
		<div id="list-seen" class="col-xs-12 col-md-6 list">
			<h2 class="text-center">Sedda</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Namn</th>
						<th>Genre</th>
						<th>imdb Betyg</th>
						<th>År</th>
						<th>Mitt Betyg</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="movie in vm.seen track by $index">
						<td>{{movie.name}}</td>
						<td>{{movie.genre}}</td>
						<td>{{movie.imdb_rating}}</td>
						<td>{{movie.year}}</td>
						<td><button class="btn btn-primary rating">{{movie.my_rating}}</button></td>
					</tr>
				</tbody>
			</table>
		</div><!-- #list-seen -->
	</div><!-- .row -->
</div><!-- .container -->
